.cartWidget {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.cartIcon {
  height: 3em;
  width: 3em;

}

#cart-icon:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

.cartBubble {
  background-color: #FA7F17;
  border-radius: 50%;
  position: relative;
  top: -28px;
  right: +32px;
  font-size: 1rem;
  padding: 1px 6px 1px 6px;
  text-align: center;
  color: black;
  font-weight: bold;
  line-height: 1rem;
}