.discuountedPriceDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    margin: 0;
    padding: 0;
}
.discuountedPriceDiv h5{
    color: #969bfc;
    margin: 0;
    padding: 0;
}
.discuountedPriceDiv h5 span{
    text-decoration: line-through;
}
.discuountedPriceDiv h2{
    margin: 0;
    padding: 0;
}