.itemListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    row-gap: 30px;
    padding: 20px;
    object-fit: cover;
}

.errorTxt {
    text-align: center;
}