body {
  background-color: #120E2B;
  padding: 0px 5px 0px 5px;
}

h1 {
  font-size: 2rem;
}

h1,
h2,
h3,
h4,
p {
  color: rgb(239, 230, 230);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid grey;
  padding: 10px 0 0 10px;
  position: relative;
}

.named-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  height: 50px;
  width: 50px;
  object-fit: contain;
  margin-right: 10px;

}

.item-list-container {
  min-height: 1000px;
  padding: 1%;
  display: flex;
  justify-content: center;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #120E2B /* El color de fondo de la pista */
}
body::-webkit-scrollbar-thumb {
  background: #797985;
  border-radius: 10px;
}