body{
  background-color: #120E2B;
  padding: 0px 5px 0px 5px;
}
h1{
  font-size: 2rem;
}
h1,h2,h3,h4,p{
  color: rgb(239, 230, 230);
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid grey;
  padding: 0% 0% 0.5% 1%;
}
.named-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo{
  height:6rem;
}
.item-list-container{
  min-height: 1000px;
  padding: 1%;
  display: flex;
  justify-content: center;
}
#cart-widget{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
#cart-icon{
  font-size: 3rem;
  margin: 0;
  
}
#cart-icon:hover{
  transition: 0.5s;
  transform: scale(1.1);
}
#cart-bubble{
  background-color: #2eb0d1;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  right: +30px;
  font-size: 1rem;
  padding: 2px 6px 2px 6px;
  text-align: center;
  color: black;
  font-weight: bold;
  line-height: 1rem;
}
